header .menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-family: "Gill Sans", sans-serif;
}

header .menu ul {
	display: flex;
	font-size: 20px;
	line-height: 29px;
	list-style-type: none;
}

header .menu ul li {
	padding-left: 33px;
}

header .menu ul li:last-child {
	padding-left: 34px;
	padding-right: 68px;
}